@import "theme";

.FormStepSectionTitle {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 700;
  collapse: $grey-text-color;
  justify-content: space-between;

  span {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    color: $grey-text-color;
    background-color: $background-color;
  }

  h1 {
    font-size: 20px;
  }

  button {
    border: none;
    background: none;
    color: $highlight-color;
    font-weight: 700;
    height: 100%;

    &:hover {
      cursor: pointer;
      color: darken($highlight-color, 25%);
    }
  }

  &.active {
    span {
      background-color: $highlight-color;
      color: white;
    }
  }

  .container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
