@import "theme";

.FormStepSectionTitle {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 700;
  opacity: 50%;

  span {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    color: $grey-text-color;
    background-color: $background-color;
  }

  h1 {
    font-size: 20px;
  }

  &.active {
    opacity: 1;

    span {
      background-color: $highlight-color;
      color: white;
    }

  }
}
