@import "theme";

.FormInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  color: $grey-text-color;
  font-weight: 700;
  font-size: 14px;

  input {
    border-radius: 8px;
    border: 1px solid $grey-border;
    padding: 12px 16px 12px 16px;

    &.error {
      border: 1px solid $error-color;
    }
  }

  p {
    color: $error-color;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
  }

}
