@import "theme";

.SubmitButton {
  width: 100%;
  background-color: $highlight-color;
  border-radius: 12px;
  padding: 0.75rem 2.5rem;

  border-style: none;

  color: white;
  font-weight: 700;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: darken($highlight-color, 25%);
  }
}
